* {
	box-sizing: border-box;
        }
        
        body {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	background-color: rgb(168, 253, 225);
	color: saddlebrown;
        }
        
        main {
	width: auto;
	margin: auto 30%;
	display: grid;
	grid-template-columns: 300px 4fr;
	grid-template-rows: 6.5rem 10rem 20rem;
        }
        
        #siteLogo {
	width: 250px;
	z-index: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
        }
        
        h1 {
	font-size: 5rem;
	color: rgb(226, 148, 46);
	line-height: 0.8;
	margin: 3rem 0 1rem;
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 5;
        }
        
        section {
	background-color: rgba(211, 187, 176, 0.3);
	grid-row-start: 3;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 5;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
        }
        
        section img {
	width: 460px;
	max-height: 26rem;
	border: 5px solid transparent;
        }
        
        section.no-voting img:hover {
	border: 5px solid transparent;
	cursor: wait;
        }
        
        ul {
	margin: 1rem;
        }
        
        li {
	margin: 0.5rem;
        }
        
        section + div {
	background-color: rgb(223, 167, 15);
	color: rgb(250, 250, 250);
	padding: 0.5rem 1rem;
	width: max-content;
	height: max-content;
	font-size: 0.8rem;
	margin: 1rem;
	grid-column-start: 1;
	grid-column-end: 2;
        }
        